MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/
MONGODB_DB_NAME=walton_products
# Optional: OpenAI Model (Defaults to text-embedding-3-small)
EMBEDDING_MODEL=text-embedding-3-small
